<a href="https://colab.research.google.com/github/AaronBM/EngineTestAnalysis/blob/main/EPAmpg_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

References

https://districtdatalabs.silvrback.com/data-exploration-with-python-2

https://realpython.com/pandas-sort-python/

https://fueleconomy.gov/feg/download.shtml

https://nycdatascience.com/blog/student-works/mpgview/

https://github.com/mainkoon81/U002-project-Python-Fuel-Economy-data-Assessment

#  Importing data from EPA.gov zip file with python

###  This process could be repeated for any similar .csv file that has clear header information in the first row and data in the following rows.  The filename must be continious without spaces or slashes, preferably only underscores.

First step is to import the necessary python packages for handling large dataframes and simple input/output.

In [ ]:
import pandas as pd
import io

Second step is to import a special package for interfacing with the Google Colab environment.

The files.upload() command should provide a prompt to select a file locally and import it into the workspace.  Other options for including data in a google drive also exist, but aren't covered here.

I used Google Chrome for this to work.  I had an issue using Mozilla Firefox and the prompt not appearing.

In [ ]:
from google.colab import files
NewData = files.upload()

Saving Medicare_Diabetes_Prevention_Program_4.21.21.csv to Medicare_Diabetes_Prevention_Program_4.21.21.csv

This step assigns the .csv data uploaded into the workspace as a dataframe for use with pandas.

In [ ]:
column_subset = [
...     "id",
...     "make",
...     "model",
...     "year",
...     "cylinders",
...     "fuelType",
...     "trany",
...     "mpgData",
...     "city08",
...     "highway08"
... ]

In [ ]:
#filename = r'https://fueleconomy.gov/feg/epadata/vehicles.csv'
EPAdata = pd.read_csv(r'https://fueleconomy.gov/feg/epadata/vehicles.csv',usecols=column_subset)

In [ ]:
# This will print out the first 3 rows of data for review.
EPAdata.tail(30)

       city08  cylinders fuelType  ...  mpgData            trany  year
43466      23        4.0  Regular  ...        N     Manual 5-spd  1993
43467      21        4.0  Regular  ...        N  Automatic 3-spd  1993
43468      22        4.0  Regular  ...        N     Manual 5-spd  1993
43469      18        6.0  Regular  ...        N  Automatic 4-spd  1993
43470      17        6.0  Regular  ...        N     Manual 5-spd  1993
43471      19        4.0  Regular  ...        N  Automatic 3-spd  1993
43472      19        4.0  Regular  ...        Y  Automatic 3-spd  1993
43473      21        4.0  Regular  ...        N     Manual 5-spd  1993
43474      14        6.0  Regular  ...        N     Manual 4-spd  1985
43475      18        4.0  Premium  ...        N     Manual 5-spd  1993
43476      18        6.0  Regular  ...        N  Automatic 3-spd  1993
43477      23        4.0  Regular  ...        N  Automatic 3-spd  1993
43478      24        4.0  Regular  ...        N     Manual 4-spd  1993
43479      26        4.0  Regular  ...        N     Manual 5-spd  1993
43480      10        8.0  Premium  ...        N  Automatic 4-spd  1993
43481      17        4.0  Regular  ...        Y  Automatic 3-spd  1993
43482      18        4.0  Regular  ...        N     Manual 5-spd  1993
43483      18        4.0  Premium  ...        N     Manual 5-spd  1993
43484      16        4.0  Regular  ...        N  Automatic 3-spd  1993
43485      11        8.0  Regular  ...        N  Automatic 3-spd  1985
43486      18        4.0  Regular  ...        Y     Manual 5-spd  1993
43487      23        4.0  Regular  ...        Y  Automatic 4-spd  1993
43488      21        4.0  Regular  ...        Y  Automatic 4-spd  1993
43489      24        4.0  Regular  ...        Y     Manual 5-spd  1993
43490      21        4.0  Regular  ...        Y     Manual 5-spd  1993
43491      19        4.0  Regular  ...        N  Automatic 4-spd  1993
43492      20        4.0  Regular  ...        N     Manual 5-spd  1993
43493      18        4.0  Regular  ...        Y  Automatic 4-spd  1993
43494      18        4.0  Regular  ...        Y     Manual 5-spd  1993
43495      16        4.0  Premium  ...        N  Automatic 4-spd  1993

[30 rows x 10 columns]

This step will parse through the 'NPI' column and count the number of unique values.

In [ ]:
# counting unique values
n = len(pd.unique(EPAdata['make']))
  
print("No.of.unique NPI :", 
      n)

No.of.unique NPI : 139

This step will parse through the 'State' column and count the number of states or territories.( Puerto Rico(PR) and Washington D.C. (DC) are in this dataset)

In [ ]:
# counting unique values
n = len(pd.unique(MDPPdata['State']))
  
print("No.of.unique States :", 
      n)

No.of.unique States : 48

This step will count the unique number of 'Unique ID" entries.  This dataset is missing #360.

In [ ]:
# counting unique values
n = len(pd.unique(MDPPdata['Unique ID']))
  
print("No.of.unique IDs :", 
      n)

No.of.unique IDs : 940

This step shows the number of locations within each state.  It doesn't label the state directly.

In [ ]:
NumInState = list(MDPPdata.State.value_counts())
print(NumInState)
print('Couting the total number listed is : ',sum(NumInState))

[180, 68, 68, 64, 45, 40, 38, 33, 33, 30, 25, 25, 25, 22, 18, 18, 18, 16, 15, 13, 12, 12, 11, 10, 9, 8, 7, 7, 7, 6, 6, 6, 6, 5, 5, 4, 4, 4, 3, 3, 2, 2, 2, 2, 1, 1, 1]
Couting the total number listed is :  940

This step does show the number of locations for each specific state.

In [ ]:
NumModelsPerMake = EPAdata.groupby('make')['model'].nunique()
print(NumModelsPerMake)

make
AM General                      4
ASC Incorporated                1
Acura                          45
Alfa Romeo                     12
American Motors Corporation     4
                               ..
Volkswagen                     78
Volvo                          91
Wallace Environmental          18
Yugo                            4
smart                           8
Name: model, Length: 139, dtype: int64

This step will determine the number of unique 'Organization Type' and also the number of instances for each.

In [ ]:
NumModelsPerMake = EPAdata.groupby('make')['model'].count()
print(NumModelsPerMake)
#NumOrg_Type = MDPPdata.groupby('Organization type')['Organization type'].count()
#print('Num of unique Organization Types : ',len(NumOrg_Type))
#print('     ')   #  blank line for spacing
#print('     ')   #  blank line for spacing
#print('     ')   #  blank line for spacing
#print(NumOrg_Type)

make
AM General                        6
ASC Incorporated                  1
Acura                           367
Alfa Romeo                       75
American Motors Corporation      27
                               ...
Volkswagen                     1223
Volvo                           854
Wallace Environmental            32
Yugo                              8
smart                            38
Name: model, Length: 139, dtype: int64

In [ ]:
def unique_col_values(df):
    for column in df:
        print("{} | {} | {}".format(
            df[column].name, len(df[column].unique()), df[column].dtype
        ))

unique_col_values(vehicles)

#Latex References

https://stackoverflow.com/questions/13208286/how-to-write-latex-in-ipython-notebook

https://nbviewer.jupyter.org/github/ipython/ipython/blob/2.x/examples/Notebook/Display%20System.ipynb#LaTeX

https://jupyter-notebook.readthedocs.io/en/latest/examples/Notebook/Typesetting%20Equations.html

https://towardsdatascience.com/write-markdown-latex-in-the-jupyter-notebook-10985edb91fd

In [ ]:
%%latex
\begin{align}
\nabla \times \vec{\mathbf{B}} -\, \frac1c\, \frac{\partial\vec{\mathbf{E}}}{\partial t} & = \frac{4\pi}{c}\vec{\mathbf{j}} \\
\nabla \cdot \vec{\mathbf{E}} & = 4 \pi \rho \\
\nabla \times \vec{\mathbf{E}}\, +\, \frac1c\, \frac{\partial\vec{\mathbf{B}}}{\partial t} & = \vec{\mathbf{0}} \\
\nabla \cdot \vec{\mathbf{B}} & = 0
\end{align}

%%latex
\begin{align}
\nabla \times \vec{\mathbf{B}} -\, \frac1c\, \frac{\partial\vec{\mathbf{E}}}{\partial t} & = \frac{4\pi}{c}\vec{\mathbf{j}} \\
\nabla \cdot \vec{\mathbf{E}} & = 4 \pi \rho \\
\nabla \times \vec{\mathbf{E}}\, +\, \frac1c\, \frac{\partial\vec{\mathbf{B}}}{\partial t} & = \vec{\mathbf{0}} \\
\nabla \cdot \vec{\mathbf{B}} & = 0
\end{align}